.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #3a3a3a;
  color: white;
  font-size: 1.5rem;
}

.item p {
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
.actions button {
  background-color: white;
  border-radius: 10px;
  height: 2rem;
  border-color: #1ad1b9;
  color: #1d8b7c;
}

.actions button:hover,
.actions button:active {
  color: rgb(0, 0, 0);
}